.vote-area {
  width: 100%;              
  display: flex;
  justify-content: center; 
  align-items: center;  
  gap: 15px;
  padding: 10px;
  flex-shrink: 0; 
  border-top: 1px solid #ddd;
  background-color: #a3b3df;

}

.vote-area button {
  background-color: #ddd;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.vote-area button:hover {
  background-color: #d0d4e0;
}

.vote-saved-message{
  margin: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: green;
}
