.card {
  display: flex;
  flex-direction: column;
  width: 100%;          
  box-sizing: border-box;
  height: 400px;
  border-radius: 15px;
  background-color: #f0f4ff; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.card-title {
  margin: 0;
  padding: 15px;
  text-align: center; 
  font-weight: bold;
  color: #0A1F44;
  border-bottom: 1px solid #ddd;
  background-color: #a3b3df; 
  flex-shrink: 0; 
}

.card-content {
  flex: 1; 
  overflow-y: auto;
  padding: 10px;
}

/* Scrollbar */
.card-content::-webkit-scrollbar {
  width: 8px;
}
.card-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;
}
.card-content::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;
}
.card-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.card-content {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.card-content p {
  margin: 5px 0;
}
